web/WEB-INF/wsdl/localhost_8080/ServidorMinimarket/Servidor.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebServices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebServices/" name="Servidor">
<types>
<xsd:schema>
<xsd:import namespace="http://WebServices/" schemaLocation="http://localhost:8080/ServidorMinimarket/Servidor?xsd=1"/>
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<message name="listar">
<part name="parameters" element="tns:listar"/>
</message>
<message name="listarResponse">
<part name="parameters" element="tns:listarResponse"/>
</message>
<message name="Eliminar">
<part name="parameters" element="tns:Eliminar"/>
</message>
<message name="EliminarResponse">
<part name="parameters" element="tns:EliminarResponse"/>
</message>
<message name="addproducto">
<part name="parameters" element="tns:addproducto"/>
</message>
<message name="addproductoResponse">
<part name="parameters" element="tns:addproductoResponse"/>
</message>
<message name="listarcategoria">
<part name="parameters" element="tns:listarcategoria"/>
</message>
<message name="listarcategoriaResponse">
<part name="parameters" element="tns:listarcategoriaResponse"/>
</message>
<message name="listarid">
<part name="parameters" element="tns:listarid"/>
</message>
<message name="listaridResponse">
<part name="parameters" element="tns:listaridResponse"/>
</message>
<message name="EditarC">
<part name="parameters" element="tns:EditarC"/>
</message>
<message name="EditarCResponse">
<part name="parameters" element="tns:EditarCResponse"/>
</message>
<portType name="Servidor">
<operation name="add">
<input wsam:Action="http://WebServices/Servidor/addRequest" message="tns:add"/>
<output wsam:Action="http://WebServices/Servidor/addResponse" message="tns:addResponse"/>
</operation>
<operation name="listar">
<input wsam:Action="http://WebServices/Servidor/listarRequest" message="tns:listar"/>
<output wsam:Action="http://WebServices/Servidor/listarResponse" message="tns:listarResponse"/>
</operation>
<operation name="Eliminar">
<input wsam:Action="http://WebServices/Servidor/EliminarRequest" message="tns:Eliminar"/>
<output wsam:Action="http://WebServices/Servidor/EliminarResponse" message="tns:EliminarResponse"/>
</operation>
<operation name="addproducto">
<input wsam:Action="http://WebServices/Servidor/addproductoRequest" message="tns:addproducto"/>
<output wsam:Action="http://WebServices/Servidor/addproductoResponse" message="tns:addproductoResponse"/>
</operation>
<operation name="listarcategoria">
<input wsam:Action="http://WebServices/Servidor/listarcategoriaRequest" message="tns:listarcategoria"/>
<output wsam:Action="http://WebServices/Servidor/listarcategoriaResponse" message="tns:listarcategoriaResponse"/>
</operation>
<operation name="listarid">
<input wsam:Action="http://WebServices/Servidor/listaridRequest" message="tns:listarid"/>
<output wsam:Action="http://WebServices/Servidor/listaridResponse" message="tns:listaridResponse"/>
</operation>
<operation name="EditarC">
<input wsam:Action="http://WebServices/Servidor/EditarCRequest" message="tns:EditarC"/>
<output wsam:Action="http://WebServices/Servidor/EditarCResponse" message="tns:EditarCResponse"/>
</operation>
</portType>
<binding name="ServidorPortBinding" type="tns:Servidor">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Eliminar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addproducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarcategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarid">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EditarC">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Servidor">
<port name="ServidorPort" binding="tns:ServidorPortBinding">
<soap:address location="http://localhost:8080/ServidorMinimarket/Servidor"/>
</port>
</service>
</definitions>